$primary: #E5CB90;
$primaryInvert: #fff;

$secondary: #DBB561;
$secondaryInvert: #fff;

$tertiary: #5DAB7C;
$tertiaryInvert: #fff;

$quartenary: #4C3800;
$quartenaryInvert: #fff;

$quintenary: #BB6B62;
$quintenaryInvert: #fff;

$fadedText: #858585;

$beerBg: #dbb561;
$beerBg2: rgb(255, 236, 170);
$beerText: #8f6d4a;

$cocktailBg: #93e5e1;
$cocktailBg2: #d8fffa;
$cocktailText: #4b7d79;

$coffeeBg: #d7ccc8;
$coffeeBg2: #fff3ee;
$coffeeText: #6f645f;

$milkshakeBg: #ffdbcb;
$milkshakeBg2: #ffeae8;
$milkshakeText: #806860;

/**
 * COLOUR PRESETS
 */
$header: $secondary;
$headerText: $secondaryInvert;

$body: $primary;
$bodyText: $primaryInvert;

$footer: $secondary;
$footerText: $secondaryInvert;

$event: #efefef;
$eventHeader: #ddd;
$eventText: #333;
