@import './settings';

*,*:after,*:before {
  box-sizing:border-box;
}

img { max-height: 100%; max-width: 100%; }

body {
  font: 16px/1 'Roboto Condensed', 'Calibri','Arial', sans-serif;
}

body,
app-root,
.app-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: $body;
  color: $bodyText;


  > .header {
    flex: 0 0 80px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  > .body {
    flex: 1 1 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  > .footer {
    flex: 0 0 60px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
}

